<%- include('./components/header.ejs') %>
<head>
    <link rel="stylesheet" href="/css/landing_page.css">
</head>
<body>
    <main>
        <h1>Discord.io</h1>
        <div class="search">
            <form action="/io" method="post">
                <input type="text" placeholder="Start giving me an id..." name="ID">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </main>
</body>